
*{
    /* align-items: center;  */
}
body {
    font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
}

div{
    padding: 50px ;

}
.hello{
    height: 100%;
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center; 
     /* margin: auto;   */
    /* margin-left: 250px; */
    /* position: relative; */
    }

.welcome{
    text-align: center;
    width: 250px;
    height: 300px;
    background:#DFF8F6 ;
    float: left;
    
}
.panel{
    float:left;
    text-align: center;
    color:white ;
    width: 250px;
    height: 300px;
    background:#00444C;


}
.submit{
    background-color: #F86503;
    color: white;
    border: none;
    
}
.reset{
    background-color:#DFF8F6 ;
    border-width: 0.1mm;
}
.forgot{
    text-align: right;
    text-decoration: none;
    
}
button{
    padding: 10px 90px;
    
    border-radius: 70px;
}
.info{
    
}
#kloc{
    position:relative;
    margin-left: 100px;
    margin-top: 20px;
}
input{
    background-color: #DFF8F6;
    border-top: black;
    border-left: black;
    border-right: black;
    border-width: 0.1mm;
    font-size: 15px;
}
.link a{
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    /* position: fixed; */
    color: #F86503;
}
#first{
    text-align: left;
}
#second{
    text-align: right;
}